@import url('https://fonts.googleapis.com/css2?family=Exo:wght@600&family=Outfit:wght@400;700&display=swap');
*{font-family: 'Outfit', sans-serif;
box-sizing: border-box;


margin: 0;}



.box{display:flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color:  hsl(212, 45%, 89%);
height: 100vh;
width: 100%;}
    
    
    .img{
    border-radius: 15px;
    margin-top:10px 
;
width: 90%}
.card{background-color: hsl(0, 0%, 100%) ;
    padding: 20px;
    width: 420px;
    border-radius: 20px;
}
h2{margin-top: 10px;}
p{margin-top: 10px;}
    